<!-- Top block -->
<div class="bg-lighter small py-2">
  <div class="container d-flex justify-content-between px-3">
    <div class="text-muted">
      <strong>24/7 Support: </strong>(800) 123-4567</div>
    <div>
      <div class="dropdown d-inline-block">
        <a class="dropdown-toggle text-dark font-weight-semibold" href="#" data-toggle="dropdown">EN</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">French</a>
          <a class="dropdown-item" href="#">German</a>
        </div>
      </div>
      <div class="dropdown d-inline-block">
        <a class="dropdown-toggle text-dark font-weight-semibold ml-3" href="#" data-toggle="dropdown">USD</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">USD</a>
          <a class="dropdown-item" href="#">EUR</a>
          <a class="dropdown-item" href="#">USD</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Top block -->